.div_body {
    max-width: 100%;
    background-color: rgb(18, 31, 61);
    margin: 0;
}

header {
    max-width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    width: 100%;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul a {
    position: relative;
    transition: 0.7s;
}

.navbar {
    background-color: rgb(18, 31, 61) !important;
    width: 98%;
    border: solid 0.1px;
    border-color: white;
    border-radius: 34px;
}

.img {
    width: 150px;
    height: 42px;

}

.imgFondo {
    width: 90%;
    height: 90%;
    border-radius: 20px;

}

.color_aa {
    color: white !important;
    font-size: 19px;
}

.icon {
    color: white;
}


.btn_corousel {
    color: black;
}

.text {
    color: white;
}

.btn {
    width: 250px;
    height: 50px;
    border-radius: 45px;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgb(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background: #59FF00;
}

.btn:hover {
    background: #2ceae5;
    transform: translateY(-7px);
    color: #fff;
    box-shadow: 0px 10px 25px rgb(46, 223, 229, 0.445);
}

.h4 {
    padding: 20px !important;
    font-family: sans-serif;
    font-size: 40px !important;
    font-weight: revert;
    letter-spacing: 3px;
    color: #fff !important;
    text-align: center;

}

.div_card {
    text-align: center;
    margin-top: 50px;
    justify-content: center;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.9rem;
}

.li {
    list-style: none;
}

.div_acordion {
    padding: 0;
    margin: 0;
    background-color: white;

}
.img_curso{
    width: 350px;
    height: 350px;
    border-radius: 20px;
}
tbody , tr, th,td{
    border-style: solid;
    border-width: unset;
    border-color: rgb(18, 31, 61);
}
table{
        color: rgb(18, 31, 61);
        background-color: white;
        border-radius: 30px
}
.icon_card{
    width:15%;
    
}
@media (max-width: 576px) { 
    .row_card{
        width: 80%;
    }
    .icon_card{
        width:12%;
    }
    .div_nav{
        width: 87%;
    }
    .div_body_xs{
        margin-top: 122px;
    }
    
}
@media (min-width: 768px) { 
    .div{
        flex-direction: row;
    }
    .icon_card{
        width:15%;
        
    }
 }
